
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

   .acm-slideshow .style-3 .slide-desc {
        color:  #0f0 !important;
        background: none repeat scroll 0 0 !important;
        margin-left: -26px;
        margin-right: -26px;
        padding: 40px;
        text-align: left;
        height: 350px !important;
    }


}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 


    .midias-sociais .section-title {
        background: #0f0 !important;
        margin-bottom: 50px !important;
        display: block !important;
        padding-bottom: 50px !important;
    }


    .acm-slideshow .style-3 .item {
        padding-top: 0 !important;
    }

    .acm-slideshow .style-3 .slide-desc {
        color:  #0f0 !important;
        background: none repeat scroll 0 0 !important;
        margin-left: -26px;
        margin-right: -26px;
        padding: 40px;
        text-align: left;
        height: 350px !important;
    }


    .section.container.bt-contentslider.ultimas-noticias {
        margin-top: 0!important;
        padding-top: 0 !important;
    }

    .section-inner.rioemfoco {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .uber-footer .logo-alerj-footer {
        max-width: 150px;
        float: left !important;
    }

    .logo-forum-footer {
        margin-top: -10px !important;
        padding-top:  0 !important;
    }

    .composicao-menufooter {
        column-count: 2 !important;
        -moz-column-count: 2 !important;
       -webkit-column-count: 2 !important;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px !important;
    }

    .uber-footer .t3-module.main-menu {
        margin-top: 20px !important;
    }
    .nav.nav-pills.nav-stacked.composicao-menufooter {
        margin-left: 0px;   
    }

    .midias-sociais .section-title span {
        font-size: 32px !important;
    }

    .midias-sociais .section-title > span {
        font-size: 32px !important;
        padding-bottom: 50px;
    }

    .midias-sociais .features-item.col-xs-6.col-sm-2.center:first-child {
        display: none;
    }
    .midias-sociais .features-item.col-xs-6.col-sm-2.center:last-child {
        display: none;
    }
    .midias-sociais .acm-features .font-icon {
        font-size: 85px !important;
        line-height: 1;
    }

    .maladireta.visible-phone {
        margin-top: 30px !important;
    }

    .bt-contentslider span {
        font-size: 25px !important;
        padding-bottom: 40px;
    }

    .custom.rioemfoco-desc {
        text-align: center !important;
    }

    .rioemfoco-desc h2 span {
        font-size: 25px !important;
    }

    .oqueeoforum .section-title > span {
        font-size: 25px !important;
    }

    .camaras-setoriais > h2 {
        font-size: 25px !important;
    }

    .composicao-slider .section-title > span {
        font-size: 25px !important;
    }

    .video-institucional {
        margin-top: 0 !important;
        padding-top: 0 !important;
        text-align: center !important;
    }

    .video-institucional .heading {
        font-size: 25px !important;
    }


    .calendario-iphone .embed-responsive-16by9 {
        height: 550px;
    }

    .midias-sociais .section-title > span {
        font-size: 25px !important;
    }

    .uber-cliens .client-item {
        padding-bottom: 26px;
        padding-top: 26px;
        text-align: center;
        width: 50% !important;
    }

    .uber-social {
        text-align: center !important;
        }

}