
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


    .acm-slideshow .style-3 .slide-desc {
    background: #d8e2e8 none repeat scroll 0 0 !important;
    color: #01426a !important;
    height: 400px !important;
    margin-left: -26px;
    margin-right: -26px;
    padding: 40px;
    text-align: left;
    }



    /* MASTHEAD */

    .masthead .jamasshead .jamasshead-description {
    line-height: 1.3 !important;
    }

    .masthead .jamasshead .jamasshead-title {
    font-size: 30px !important;
    }

    .masthead .masthead-bg {
    background-image: none !important;
    }

    .pagination .counter {
    display: none !important;
    }

    /* FIM - MASTHEAD */


    /* YoutubeGallery - BRENO  */

    .rioemfocopag table td {
        
    }

    .rioemfocopag h3 {
    font-size: 18px !important;
    margin-top: 4px !important;
    }

    /* FIM - YoutubeGallery - BRENO  */


    .acm-slideshow .style-3 .item {
        padding-top: 0 !important;
    }


    .section.container.bt-contentslider.ultimas-noticias {
        margin-top: 0!important;
        padding-top: 0 !important;
    }

    .section-inner.rioemfoco {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .uber-footer .logo-alerj-footer {
        max-width: 150px;
        float: left !important;
    }

    .logo-forum-footer {
        margin-top: -10px !important;
        padding-top:  0 !important;
    }

    .composicao-menufooter {
        column-count: 2 !important;
        -moz-column-count: 2 !important;
       -webkit-column-count: 2 !important;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px !important;
    }

    .uber-footer .t3-module.main-menu {
        margin-top: 20px !important;
    }
    .nav.nav-pills.nav-stacked.composicao-menufooter {
        margin-left: 0px;   
    }




    .midias-sociais .section-title > span {
        font-size: 32px !important;
    }


    .midias-sociais .section-title {
        margin-bottom: 50px !important;
        display: block !important;
        padding-bottom: 20px !important;
    }


   /* .midias-sociais .section-title > span {
        font-size: 32px !important;
        padding-bottom: 50px;
    }*/

    .midias-sociais .features-item.col-xs-6.col-sm-2.center:first-child {
        display: none;
    }
    .midias-sociais .features-item.col-xs-6.col-sm-2.center:last-child {
        display: none;
    }
    .midias-sociais .acm-features .font-icon {
        font-size: 85px !important;
        line-height: 1;
    }

    .maladireta.visible-phone {
        margin-top: 30px !important;
    }

    .bt-contentslider span {
        font-size: 25px !important;
        padding-bottom: 40px;
    }

    .custom.rioemfoco-desc {
        text-align: center !important;
    }

    .rioemfoco-desc h2 span {
        font-size: 25px !important;
    }

    .oqueeoforum .section-title > span {
        font-size: 25px !important;
    }

    .camaras-setoriais > h2 {
        font-size: 25px !important;
    }

    .composicao-slider .section-title > span {
        font-size: 25px !important;
    }

    .video-institucional {
        margin-top: 0 !important;
        padding-top: 0 !important;
        text-align: center !important;
    }

    .video-institucional .heading {
        font-size: 25px !important;
    }


    .calendario-iphone .embed-responsive-16by9 {
        height: 550px;
    }

    .calendario .heading {
        color: #014b79 !important;
        font-weight: 700 !important;
        text-align: center !important;
    }   

    .calendario p {
        text-align: center !important;
    }

    .uber-cliens .client-item {
        padding-bottom: 26px;
        padding-top: 26px;
        text-align: center;
        width: 50% !important;
    }

    .uber-footer .t3-module .module-title span {
        color: #172B53 !important;
        text-align: center;
    }

    .button.subbutton.btn.btn-primary.btn-sm {
        margin-top: 30px !important;
    }


    .uber-social {
        text-align: center !important;
    }


    .carousel-indicators .active {
    background-color: #01426a !important;
    }

    .carousel-indicators li {
    border: 1px solid #01426a !important;
    }






    .acm-container-slide .carousel-indicators {
         margin-bottom: -50px !important;
    }

    .camaras-setoriais .icones {
        min-height: 240px;
    }

    .camaras-setoriais .row {
    /*margin-top: 30px !important;*/
    }

    .camaras-setoriais p {
    text-align: center !important;
    }

    .publicacoes {
    padding-top: 50px !important;
    }

    .uber-footer-inner small {
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
    }

}